.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-welcome {
  color: brown;
}

.home-welcome-image {
  background-image: url("/public/images/Hu_Tao_welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 80%;
  align-self: center;
  border-radius: 0.5rem;
}
